.App {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}

.headers {
    background-color: #02918c;
    text-align: center;
    padding: 15px 0;
}

.logo {
    display: inline-block;
    margin-bottom: 20px;
}

.main-nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 80px;
}

.main-block {
    padding: 150px 0;
    background-image: url(assets/main-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.bore {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 0;
    margin-top: 80px;
}

.text {
    margin-top: 0;
    line-height: 33px;
    font-size: 18px;
}

.link-btn {
    color: #000;
    display: inline-block;
    background-color: #cfc91d;
    padding: 15px 60px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 205px;
}

h2 {
    font-size: 46px;
    margin-top: 70px;
    font-weight: bold;
    color: #02918c;

}

.textaboutme {
    color: #4e5052;
    font-size: 16px;
    line-height: 41px;
}

.h3box {
    font-size: 18px;
    color: #4e5052;
    font-weight: bold;
    margin-top: 50px;
}

.box {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    padding: 10px 15px;
    background: no-repeat top center;
}

.bg1 {
    background-image: url(assets/ic-lamp.png);

}

.bg2 {
    background-image: url(assets/ic-pencil.png);
}

.bg3 {
    background-image: url(assets/ic-set.png);
}

.bg4 {
    background-image: url(assets/ic-laptop.png);
}

.pbox {
    font-size: 14px;
    color: #4e5052;
    line-height: 25px;
}

.boxes {
    font-size: 0;
    text-align: center;
    margin-top: 70px;
}

.aboutme {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

footer {
    background-color: #000;
    color: #7e8287;
    text-align: right;
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 100px;
}